<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta itemprop="description" name="description"
    content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    referrerpolicy="no-referrer" />
  <link rel="shortcut icon" type="image/png" href={{ "/assets/favicon.ico" | relative_url }}>

</head>